<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <img src="moto.jpg" alt="X-Moto 1" class="card-img-top">
            <div class="card-body">
                <h2>$ 1.200.000</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas animi officiis illo neque voluptate,
                    reiciendis dolorem cum sint ut non nihil doloribus quibusdam, debitis voluptatum obcaecati saepe, esse ipsum. Alias!
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-dark btn-block">
                    Comprar<i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </div>
    </div>
</div>